
#imgContainer {
	
	height: 70vh;

	display: flex;
	
	flex-direction: column;
	justify-content: center;
	align-items: center;

	box-shadow: inset 1px 0 10px gray;
}

canvas {
	margin-top: 50px;
	
	border-radius: 3px;
}

