* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

body { 
	display: flex;
}

img {
	border-radius: 3px;
}

#centerContainer {
	width: 65%;
}

#rightContainer {
	width: 35%;
	height: 100vh;

	border-left: 3px solid black
}

