#preselectionList {
	height: 89.88%;
	display: flex;
	
	overflow: auto;

	background-color: white;

	flex-direction: column;
	align-items: center;
}

.filterElement {
	display: flex;
	
	flex-direction: column;
	align-items: center;

	border-radius: 3px;
	background-color: lightgreen;

	width: 90%;

	padding: 10px;
	margin: 10px;;

	cursor: pointer;

	transition: 200ms box-shadow;
}

.filterElement:hover {
	box-shadow: 1px 1px 5px 1px #999;
}

.filterElement:active {
	box-shadow: 1px 1px 3px 1px #999;
}

.filterImg {
	margin: 5px;
	width: 92%;
}
