#preselectionTabContainer {
	display: flex;

	height: 10vh;
	width: 100%;
}

.tab {
	background-color: white;
	display: flex;
	
	justify-content: center;
	align-items: center;
	
	width: 30%;
	height: 100%;

	border-right: 1px solid #999;
	border-bottom: 2px solid #999;

	font-size: 25px;
	
	cursor: pointer;

	transition: 200ms background-color, 200ms border-bottom;

}

.tab:hover {
	background-color: hsl(190, 100%, 95%);
}

.tab:active {
	background-color: hsl(190, 50%, 83%);
}

.tab.selected {
	background-color: hsl(190, 100%, 88%); 
	border-bottom: 5px solid hsl(190, 100%, 40%);
}

